*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background: linear-gradient(to top, #cecfd0, #053d60);

  min-height: 100vh;
}

.container {
  margin: 0rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.instructions {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 45rem;
}

h1 {
  font-size: 60rem;
  color: white;
  margin-bottom: 20rem;
  padding-top: 150rem;
}

h2 {
  font-size: 35rem;
  color: white;
  font-weight: 300;
  margin-bottom: 15rem;
}

.newBtn {
  border: none;
  font-size: 25rem;
  padding: 14rem 24rem 14rem 24rem;
  border-radius: 50rem;
  font-weight: bold;
  background-color: rgb(12, 45, 65);
  color: white;
}

.newBtn:hover {
  background-color: rgb(10, 42, 61);
  color: rgb(224, 224, 224);
}

.footer {
  color: rgb(82, 82, 82);
  font-size: 20rem;
  margin-top: 390rem;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 50rem;
}

.currentForm {
  background-color: rgb(232, 232, 237);
  padding: 0rem 40rem 85rem 40rem;
  width: 730rem;
  border-radius: 20rem;
}

.editingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 232, 237);
  border-radius: 20rem;
  padding: 0rem 20rem 65rem 20rem;
}

.formDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10rem;
  align-items: center;
}

.checkDiv {
  padding-top: 25rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.submitBtn {
  margin-left: 10rem;
  font-weight: bold;
  font-size: 20rem;
  padding: 13rem 15rem 13rem 15rem;
  border: none;
  border-radius: 20rem;
  background-color: rgb(12, 47, 69);
  color: white;
}

label {
  font-size: 25rem;
}

input {
  font-size: 17rem;
  padding: 12rem 12rem 12rem 10rem;
  border: none;
  border-radius: 10rem;
}

.check {
  width: 22rem;
  height: 22rem;
}

.hidden {
  display: none;
}

.btnX {
  margin-left: 640rem;
  border: none;
  font-size: 35rem;
  font-weight: 100;
  border-radius: 50rem;
  margin-bottom: 50rem;
  padding-top: 5rem;
  background-color: rgb(232, 232, 237);
}

.bookList {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50rem;
  justify-content: center;
  align-items: start;
}

li {
  background-color: rgb(232, 232, 237);
  border-radius: 15rem;
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.1);
}

.title-p {
  font-size: 33rem;
  margin-bottom: 15rem;
}

.author-p {
  font-size: 30rem;
  margin-bottom: 15rem;
}

.pages-p {
  font-size: 26rem;
  margin-bottom: 25rem;
}

.checkBtn {
  font-weight: bold;
  font-size: 17rem;
  padding: 10rem 12rem 10rem 12rem;
  border: none;
  border-radius: 20rem;
  background-color: rgb(12, 47, 69);
  color: white;
}

.deleteBtn {
  font-weight: bold;
  font-size: 17rem;
  padding: 11rem 12rem 11rem 12rem;
  border: none;
  border-radius: 20rem;
  background-color: rgb(12, 47, 69);
  color: white;
}

.textDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0rem 50rem 40rem 50rem;
}

.editBtn {
  font-weight: bold;
  font-size: 20rem;
  border: none;
  background-color: rgb(232, 232, 237);
  border-radius: 22rem;
  padding: 10rem 10rem 0rem 0rem;
  color: rgb(12, 47, 69);
  margin-bottom: 25rem;
  margin-left: 310rem;
}

.finishEditBtn {
  font-weight: bold;
  font-size: 20rem;
  border: none;
  background-color: rgb(232, 232, 237);
  border-radius: 22rem;
  padding: 10rem 0rem 0rem 0rem;
  color: rgb(12, 47, 69);
  margin-bottom: 25rem;
  margin-left: 185rem;
}

.checkBtn:hover,
.deleteBtn:hover {
  background-color: rgb(9, 37, 55);
  color: rgb(229, 229, 229);
}

.editBtn:hover,
.finishEditBtn:hover {
  text-decoration: 2rem underline rgb(9, 37, 55);
}

.cardBtns {
  display: flex;
  align-items: center;
  gap: 30rem;
}

.edit-I {
  width: 100%;
  margin-bottom: 15rem;
}
